<!-- Start Hero Area -->
<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 custom-padding-right">
        <div class="slider-head">
          <!-- Start Hero Slider -->
          <div class="hero-slider">
            <!-- start Single Slider -->
            <div class="single-slider">
              <nz-carousel
                [nzEnableSwipe]="true"
                [nzAutoPlay]="true"
                [nzDots]="false"
              >
                <div nz-carousel-content *ngFor="let item of arrayOfImgUrls">
                  <img [src]="item.image" style="height: 500px;" />
                </div>
              </nz-carousel>
            </div>

            <!-- End Single Slider -->
          </div>
          <!-- End Hero Slider -->
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
            <!-- Start Small Banner -->
            <div
              class="hero-small-banner"
              style="background-image: url('assets/images/hero/banane-plantain.png')"
            >
            </div>
            <!-- End Small Banner -->
          </div>
          <div class="col-lg-12 col-md-6 col-12">
            <!-- Start Small Banner -->
            <div class="hero-small-banner style2">
              <div class="content">
                <h2>Bienvenue sur Africa'shop</h2>
                <p>Commencez vos courses maintenant !</p>
                <div class="button">
                  <a class="btn" routerLink="/products">Boutique</a>
                </div>
              </div>
            </div>
            <!-- Start Small Banner -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Area -->
