<!-- Start Product Grids -->
<section class="product-grids section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <!-- Start Product Sidebar -->
        <div class="product-sidebar">
          <!-- Start Single Widget -->
          <div class="single-widget search">
            <h3>Recherche produit</h3>
            <form (ngSubmit)="searchProducts(searchTerms.value)">
              <input
                type="text"
                [(ngModel)]="searchQuery"
                placeholder="Recherchez ici..."
                (input)="autoSearch()"
                #searchTerms
                name="searchQuery"
              />
              <button type="submit"><i class="lni lni-search-alt"></i></button>
            </form>
          </div>
          <!-- End Single Widget -->
          <!-- Start Single Widget -->
          <div class="single-widget">
            <div class="product-sorting">
              <label for="sorting">Pays:</label>
              <form action="#">
                <select
                  class="form-control"
                  id="selectedCountryId"
                  [(ngModel)]="selectedCountryId"
                  (ngModelChange)="getCountry()"
                  [ngModelOptions]="{ standalone: true }"
                  name="country"
                >
                  <option
                    *ngFor="let country of countryList"
                    [value]="country.id"
                  >
                    {{ country.libelle }}
                  </option>
                </select>
              </form>
            </div>
          </div>
          <!-- End Single Widget -->
          <!-- Start Single Widget -->
          <div class="single-widget">
            <h3
              class="category"
              (click)="getAllProductByCountry(selectedCountryId)"
              ngbTooltip="Click to retrive all product"
            >
              Categories
            </h3>
            <ul class="list">
              <li *ngFor="let item of listCategory">
                <a
                  class="category menu-product"
                  (click)="getProducts(item.id!)"
                  [class.active]="activeMenuIndex === item.id!"
                  >{{ item.libelle }}</a
                >
              </li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <!-- End Product Sidebar -->
      </div>
      <div class="col-lg-9 col-12">
        <div class="product-grids-head">
          <div class="product-grid-topbar">
            <div class="row align-items-center">
              <div class="col-lg-7 col-md-8 col-12">
                <div class="product-sorting">
                  <label for="sorting">Numéro par page:</label>
                  <form>
                    <select
                      class="form-control"
                      id="sorting"
                      [(ngModel)]="pageSize"
                      [ngModelOptions]="{ standalone: true }"
                      (ngModelChange)="getPageSize($event)"
                    >
                      <option
                        *ngFor="let item of listperPage"
                        [ngValue]="item.size"
                      >
                        {{ item.size }}
                      </option>
                    </select>
                    <h3 class="total-show-product">
                      Voir:
                      <span
                        >{{ displayedProduct.length }} -
                        {{ totalItem }} articles</span
                      >
                    </h3>
                  </form>
                </div>
              </div>
              <div class="col-lg-5 col-md-4 col-12">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button
                      class="nav-link active"
                      id="nav-grid-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-grid"
                      type="button"
                      role="tab"
                      aria-controls="nav-grid"
                      aria-selected="true"
                    >
                      <i class="lni lni-grid-alt"></i>
                    </button>
                    <button
                      class="nav-link"
                      id="nav-list-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-list"
                      type="button"
                      role="tab"
                      aria-controls="nav-list"
                      aria-selected="false"
                    >
                      <i class="lni lni-list"></i>
                    </button>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-grid"
              role="tabpanel"
              aria-labelledby="nav-grid-tab"
            >
              <div class="row">
                <div
                  class="col-lg-4 col-md-6 col-12"
                  *ngFor="
                    let item of listProduct
                      | paginate
                        : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalItems
                          };
                    let i = index
                  "
                >
                  <!-- Start Single Product -->
                  <div class="single-product">
                    <div class="product-image">
                      <img
                        src="{{ item.imageName }}"
                        style="height: 250px; cursor: pointer"
                        alt="#"
                        routerLink="/product-detail/{{ item.id }}"
                      />
                
                    </div>
                    <div class="product-info">
                      <span
                        class="category"
                        routerLink="/product-detail/{{ item.id }}"
                        >{{ item.productCategory.libelle }}</span
                      >
                      <h4 class="title">
                        <a>{{ item.libelle }}</a>
                      </h4>

                      <ul class="review" *ngIf="item.tag !== null">
                        <li *ngFor="let i of getStarArray(item.tag!)">
                          <i class="lni lni-star-filled"></i>
                        </li>
                        <li>
                          <span> {{ item.tag }} étoile(s)</span>
                        </li>
                      </ul>

                      <div class="price">
                        <span>{{ item.price }} {{ item.currency }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Single Product -->
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-10 py-5 flex justify-center itmes-center">
                  <!-- Pagination -->
                  <pagination-controls
                    (pageChange)="page = $event"
                    [autoHide]="true"
                    [maxSize]="maxSize"
                  ></pagination-controls>
                  <!--/ End Pagination -->
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-list"
              role="tabpanel"
              aria-labelledby="nav-list-tab"
            >
              <div class="row">
                <div
                  class="col-lg-12 col-md-12 col-12"
                  *ngFor="
                    let item of listProduct
                      | paginate : { itemsPerPage: pageSize, currentPage: page }
                  "
                >
                  <!-- Start Single Product -->
                  <div
                    class="single-product"
                    routerLink="/product-detail/{{ item.id }}"
                    style="cursor: pointer"
                  >
                    <div class="row align-items-center">
                      <div class="col-lg-4 col-md-4 col-12">
                        <div
                          class="product-image"
                          routerLink="/product-detail/{{ item.id }}"
                        >
                          <img
                            src="{{ item.imageName }}"
                            alt="#"
                            style="cursor: pointer; height: 200px"
                          />
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <div class="product-info">
                          <span class="category">{{
                            item.productCategory.libelle
                          }}</span>
                          <h4 class="title">
                            <a>{{ item.libelle }}</a>
                          </h4>
                          <ul class="review" *ngIf="item.tag !== null">
                            <li *ngFor="let i of getStarArray(item.tag!)">
                              <i class="lni lni-star-filled"></i>
                            </li>
                            <li>
                              <span> {{ item.tag }} étoile(s)</span>
                            </li>
                          </ul>
                          <div class="price">
                            <span>{{ item.price }} {{ item.currency }} </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Single Product -->
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-10 py-5 flex justify-center itmes-center">
                  <!-- Pagination -->
                  <pagination-controls
                    (pageChange)="page = $event; changerParPage(pageSize)"
                    [autoHide]="true"
                  ></pagination-controls>
                  <!--/ End Pagination -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product Grids -->
<!-- End Trending Product Area -->
<ng-template #templateCart let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">Notification</div>
      <div class="ant-notification-notice-description">
        Produit ajouter au panier avec success !
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateWish let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">Notification</div>
      <div class="ant-notification-notice-description">
        Produit ajouter à la liste d'envie avec success !
      </div>
    </div>
  </div>
</ng-template>
