<!-- Start Shipping Info -->
<section class="shipping-info">
  <div class="container">
    <ul>
      <!-- Free Shipping -->
      <li>
        <div class="media-icon">
          <i class="lni lni-delivery"></i>
        </div>
        <div class="media-body">
          <h5>Livraison rapide</h5>
          <span>Partout dans le monde</span>
        </div>
      </li>
      <!-- Money Return -->
      <li>
        <div class="media-icon">
          <i class="lni lni-support"></i>
        </div>
        <div class="media-body">
          <h5>24/7 Assistance</h5>
          <span>Par message ou appel</span>
        </div>
      </li>
      <!-- Support 24/7 -->
      <li>
        <div class="media-icon">
          <i class="lni lni-credit-cards"></i>
        </div>
        <div class="media-body">
          <h5>Paiement en ligne.</h5>
          <span>Service de paiement sécurisé</span>
        </div>
      </li>
      <!-- Safe Payment -->
      <li>
        <div class="media-icon">
          <i class="lni lni-reload"></i>
        </div>
        <div class="media-body">
          <h5>Article à retourner</h5>
          <span></span>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Shipping Info -->
